@charset "UTF-8";

#page-content {
	min-width: 100vw;
	background-color: #f8f9fc;
}

@media ( min-width : 768px) {
	#page-content {
		min-width: 0;
		width: 100%;
		background-color: #f8f9fc;
	}
}

#admin-content {
	padding-left: 2.0rem;
	padding-right: 2.0rem;
}