@charset "UTF-8";

#page-content {
	min-width: 100vw;
	background-color: #FAFDFB !important;
}

@media ( min-width : 768px) {
	#page-content {
		min-width: 0;
		width: 100%;
		background-color: #FAFDFB;
	}
}

#admin-content {
	padding-left: 4.0rem;
	padding-right: 4.0rem;
	padding-top: 1.0rem;
	padding-bottom: 1.0rem;
}

#table-card-header {
	background-color: #f2f5f3;
}