@charset "UTF-8";

.card {
	background-color: #fff;
	border: none;
	color: #696969;
}


#pieChart {
	width: max-content;
}

#chart-body {
	width: max-content;
    margin-left: auto;
    margin-right: auto;
}

#table-card {
	height: 514px;
}
