@charset "UTF-8";


.myCust {
	margin-right:20%;
}
.mainBanner {
	background-color:#8bda8b;
	height:380px;
}
.mainText {
	color:white;
	text-align:center;
	padding-top:160px;
}
.layout-container-top .top-search fieldset {
    display: inline-block;
}
fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
user agent stylesheet
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}
.layout-container-top .top-search {
    text-align: center;
    margin-top: 46px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.layout-container-top .top-search-form {
    display: inline-block;
    width: 600px;
    height: 52px;
    background-color: #fff;
    border: solid 1px #5d5d5d;
    position: relative;
    text-align: center;
}
user agent stylesheet
div {
    display: block;
}
.layout-container-top .top-search {
    text-align: center;
    margin-top: 46px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.element-svg {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
    vertical-align: top;
    background-size: 100% !important;
}
user agent stylesheet
i {
    font-style: italic;
}
.layout-container-top .top-search {
    text-align: center;
    margin-top: 46px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.layout-container-top .top-search .element-input {
    padding-left: 50px;
    font-weight: normal;
    border: 0;
    height: 100%;
}
.element-input, .element-textarea {
    font-family: "Noto Sans CJK","Malgun Gothic",arial;
    height: 36px;
    font-size: 13px;
    color: #333;
    line-height: normal;
    font-weight: normal;
    border-radius: 4px;
    border: 1px solid #d4d6d9;
    background-color: #ffffff;
    width: 400px;
    height:40px;
    padding-left: 5px;
    padding-right: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input {
    box-sizing: border-box;
}
user agent stylesheet
input[type="text" i] {
    padding: 1px 2px;
}
user agent stylesheet
input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-stretch: ;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
}
.layout-container-top .top-search {
    text-align: center;
    margin-top: 46px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.top-search-form {
	padding-top:20px;
	padding-right:40px;
	text-align: center;
	font-family: "Noto Sans CJK","Malgun Gothic",arial;
	color:white
}
.qs-text {
	font-family: "Noto Sans CJK","Malgun Gothic",arial;
	color:black;
	margin-left:20%;
	margin-top:30px;
}
.qs-box {
	margin-left:auto; 
    margin-right:auto;
    margin-top:30px;
    font-family: "Noto Sans CJK","Malgun Gothic",arial;
}
.qs-box button{
	width:150px;
	height:100px;
	border-radius:4px;
	background-color:white;
	border:0.3px solid rgba(211,211,211,.8);
}
.qs-text-bt{
	margin-left:60%;
	font-size:12px;
	font-family: "Noto Sans CJK","Malgun Gothic",arial;
}
.qs-text-bt button{
	width:100px;
	height:40px;
	border-radius:4px;
	background-color:white;
	border:0.3px solid rgba(211,211,211,.8);
}
body .qs-box{
	 font-family: "Noto Sans CJK","Malgun Gothic",arial;
	 font-size:15px;
}
.bagr {
	background-color:#ffffff;
	height:300px;
}
.footer{
	margin-top:200px;
	text-align: center;
  	font-size: 0.9rem;
  	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.main-tb{
	margin-top:3%;
	margin-left:25%;
}
.tb-ins-id,.tb-ins-sel,.tb-ins-tit,.tb-ins-con{
	margin-left:5%;
}
.insert-line {
	color:black;
	width:70%;
	border:2px solid black;
}
hr {
	margin-left:auto;
	margin-right:auto;
	width:70%;
}
.cid{
	margin-left:83px;
	width:25%;
	height:36px;
	border-radius:6px;
	border:1px solid rgb(128,128,128, 0.7);
}
.cid{
	padding-left:10px;
}
.ctitle, .ccontent {
	margin-left:62px;
	width:56%;
	border:1px solid rgb(128,128,128, 0.7);
	border-radius:6px;
}
.ctitle{
	height:36px;
}
.tb-ins-con {
}
.ccontent {
	height:500px;
}

.check-in{
	color:white;
	margin-left:56%;
	width:75px;
	background-color: rgba(139, 218, 139, 0.7);
	border-radius:5px;
	border:1px solid rgb(128,128,128, 0.7);
}
.cancle-out {
	width:75px;
	background-color: rgba(255,255,255, 0.7);
	border-radius:5px;
	border:1px solid rgb(128,128,128, 0.7);
}
.search-i {
	padding-left:30px;
}
.main-ban{
	text-align:center;
	padding-top:80px;
	background-color:#8bda8b;
	color:white;
	height:240px;
}
select.li-sel{
	margin-left:62px;
	padding-left:10px;
	width:5%;
	height:38px;
	border-radius:6px;
	border:1px solid rgb(128,128,128, 0.7);
}
.sel-sear {
	width:25%;
	height:40px;
	border-radius:6px;
	border:1px solid rgb(128,128,128, 0.7);
}
.sel-btn {
	width:4%;
	height:38px;
	color:black;
	background-color:#white;
	border-radius:6px;
	border:1px solid rgb(128,128,128, 0.7);
}
.list-sel {
	margin-right:23%;
}
.list-tb {
	margin-top:50px;
	width:60%;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	
}
.back-bt {
	width:6%;
	height:30px;
	color:black;
	background-color:#white;
	border-radius:6px;
	border:1px solid rgb(128,128,128, 0.7);
}
.back-bt{
	margin-top:3%;
	margin-left:71%;
}
.cust-hd {
	margin-left:30%;
}