@charset "UTF-8";
    body {
        background: #F5F5F5;
        padding-top: 100px;
        margin-top: 50px;
        margin: 5rem;
        padding-left: 0;
    }
    
    
    td a {
  	text-decoration-line: none;
  	color:#333333;
    }
    
    tr a:hover{
     text-decoration:underline;
     color:#333333;
    }
    
    .pet-profile {
        margin-right: 2rem;
    }

    .team-list img {
        width: 100%;
    }

    .team-list .content {
        width: 50%;
    }


    .shadow-myinfo {
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
    }

    .rounded {
        border-radius: 50px !important;
    }
    
       #main_content {
		display : table;
		width : 100%;
	}
	#sideNav, #main {
		display : table-cell; !important;
	}
	
	#sideNav{
		padding-top: 100px;
	}
